# **Stock Price Prediction Ml model By I9 (43 t0 47).**

In [28]:
import quandl
import numpy as np
from sklearn.linear_model import LinearRegression   # Importing model from sklearn.
from sklearn.svm import SVR     #Support Vector Machine (SVM) is an algorithm capable of performing classification, regression and even outlier detection.
from sklearn.model_selection import train_test_split  # This is to select which model you want to prepare.

Importing dataset i.e. the stock data

In [29]:
df = quandl.get("WIKI/FB") # Fetching the data from quandal libraries.
df.head()

             Open   High    Low  ...  Adj. Low  Adj. Close  Adj. Volume
Date                             ...
2012-05-18  42.05  45.00  38.00  ...     38.00     38.2318  573576400.0
2012-05-21  36.53  36.66  33.00  ...     33.00     34.0300  168192700.0
2012-05-22  32.61  33.59  30.94  ...     30.94     31.0000  101786600.0
2012-05-23  31.37  32.50  31.36  ...     31.36     32.0000   73600000.0
2012-05-24  32.95  33.21  31.77  ...     31.77     33.0300   50237200.0

[5 rows x 12 columns]

Getting the adjusted closed price(the prices at which market gets closed).
*Here the adj close is what we are gonna predict.*

In [30]:
df = df[['Adj. Close']] # two box bracket for accessing array in an array.
df.head()   # note here adj close is the target or dependent variable.

            Adj. Close
Date
2012-05-18     38.2318
2012-05-21     34.0300
2012-05-22     31.0000
2012-05-23     32.0000
2012-05-24     33.0300

Creating a variable which will predict stock price after n days (eg: n=1 for tomorrows stock price).

In [31]:
# a variable that will take input of after how many days we have to predict stock.
forecast_out = 30
# Adding a coloumn that will draw prediction
df['Prediction'] = df[['Adj. Close']].shift(-forecast_out)
df.tail()

            Adj. Close  Prediction
Date
2018-03-21      169.39         NaN
2018-03-22      164.89         NaN
2018-03-23      159.39         NaN
2018-03-26      160.06         NaN
2018-03-27      152.19         NaN

Creating the independent dataset x    ########

In [32]:
# Dropping the values in prediction column that became null
x = np.array(df.drop(['Prediction'],1))
# Here the forecast_out is the number of coloumn to be dropped.
x = x[:-forecast_out]
x

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

array([[ 38.2318],
       [ 34.03  ],
       [ 31.    ],
       ...,
       [171.5499],
       [175.98  ],
       [176.41  ]])

creating a dependent dataset y  ############

In [33]:
# converting the dataframe into a numpy array (All values including the 'NaN's)
y = np.array(df['Prediction'])
# get all the y values except the 'n' rows
y = y[:-forecast_out]
y

array([ 30.771,  31.2  ,  31.47 , ..., 159.39 , 160.06 , 152.19 ])

Splitting the data into 80% training and 20% training

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

# ***Creating and train our model by Support vector Machine (Regression)***

In [35]:
svr_rbf = SVR(kernel='rbf',C=1e3, gamma=0.1)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, gamma=0.1)

Testing model : score returns the coefficient of determination r^2 of the prediction

1.   Best score is 1.0

In [36]:
# this show how much confident the model is in its prediction
svm_confidence = svr_rbf.score(x_test, y_test)
print("svm confidence : ",svm_confidence)

svm confidence :  0.9870530700128797

# ***Creating and training the linear regression model***

In [37]:
lr = LinearRegression()
# Train the model
lr.fit(x_train, y_train)

LinearRegression()

Testing model : score returns the coefficient of determination r^2 of the prediction. 

1.   The best possible score is 1.0

In [38]:
lr_confidence = lr.score(x_test, y_test)
print("lr confidence : ",lr_confidence)

lr confidence :  0.9815097361959786

Set x_forecast equal to the last 30 rows of the original dataset from Adj. column

In [ ]:
x_forecast = np.array(df.drop(['Prediction'],1))[-forecast_out:]
print(x_forecast)

Printing the prediction for next 'n' days (30 in this case)

In [48]:
#Prediction using linear regression model
print("The linear regression prediction ")
lr_prediction = lr.predict(x_forecast)
print(lr_prediction)
print("The svm prediction ")
#Prediction using support vector model model
svm_prediction = svr_rbf.predict(x_forecast)
print(svm_prediction)

The linear regression prediction
[176.84943017 183.26990582 183.71339237 181.09279006 179.73209271
 181.64714824 182.73570612 187.06977917 188.72277447 185.22527831
 182.06039707 179.66153803 180.34692633 184.15687891 183.53196605
 187.49310723 186.1122514  189.02515165 188.55142739 185.64860638
 187.97691073 187.64429582 188.8840423  176.25475504 171.80981036
 173.05963607 168.52397824 162.98039644 163.65570549 155.7233439 ]
The svm prediction
[177.06773402 180.73988988 178.68257388 179.4145565  174.98067663
 182.15969232 183.01698157 187.08722746 179.56783374 181.68722203
 183.45804561 174.92227733 176.1705268  177.6051136  179.46288269
 184.85772873 187.37187525 179.5285724  179.83944373 184.74790428
 182.04526419 183.95346411 179.48049617 178.2803277  171.58393546
 172.29929482 170.95798348 167.42379469 167.47076289 160.50322067]